<header class=" header mb-5 py-2">
  <div>
    <h3 class="float-md-start mb-0"><a href="/" class="text-decoration-none text-white">CRUD SYSTEM</a></h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 <%= currPage == "Home" ? "active" : "" %>" aria-current="page"
        href="/">Home</a>
      <a class="nav-link fw-bold py-1 px-0 <%= currPage == "Features" ? "active" : "" %>" href="/features">Features</a>
      <a class="nav-link fw-bold py-1 px-0 <%= currPage == "Contact" ? "active" : "" %>" href="/contact">Contact</a>
    </nav>
  </div>
</header>